$countries = Austria Turkey Germany Italy France England Russia 
$z = length($countries)
for $i in (0..$z)
  $country = $countries[$i]
  $color = $i * 51

  #diplomacy_map >
    g > .unit.{$country}
      fill hsl( $color, 90%, 40% )
      stroke hsl( $color, 100%, 20% )

    .{$country}
      > .center
        fill hsl( $color, 100%, 15% )

      > .l
        fill hsl( $color, 60%, 60% )

    #Orders > #Orders_new > .{$country}
      stroke hsl( $color, 100%, 20% )
      fill hsl( $color, 100%, 20% )

  #map_statistic
    .{$country} .power
      //bac clr hsl( $color, 90, 40 )
      //txt clr white sha 0 1 2 hsl(0,0,0)
      txt clr hsl( $color, 100, 38 )
