$countries = Austria Turkey Germany Italy France England Russia 
$z = length($countries)
for $i in (0...$z)
  $country = $countries[$i]
  $color = $i * 51

  #diplomacy_map 
    > g > .unit.{$country}
        fill hsl( $color, 90%, 40% )
        stroke hsl( $color, 100%, 20% )

    .{$country}
      > .center
        fill hsl( $color, 100%, 15% )

      > .l
        fill hsl( $color, 60%, 60% )

    #Orders > .{$country}
      stroke hsl( $color, 100%, 20% )

  .stats .{$country} .power,
  .chat .who > .{$country}
      txt clr hsl( $color, 100, 38 )

