#games_new.page
  .collection
    mar x aut

  .centrator, .collection
    txt ali l
    wid 77%

  .collection
    brd 0.125em hsl(0,0,85) rds 0
    pad 0.3125em

    .label
      brd rds 0.625em 

      &:hover
        bac clr hsl(0,0,92.5)

    :checked + .label
      bac clr hsl(0,0,85)
