@import 'views/games/show/stats'
@import 'views/games/show/chat'
@import 'views/games/show/history'
@import 'views/games/show/timer'

#main.layout > .menu.game_show
  txt ali r

#games_show
  dis blo

  > .menu
    pos abs t 0 l 0
    hei 30
    pad y 10

    > .j_component
      pad l 20

      .button
        wid aut

        + .button
          mar l 10*$u

  > .pils2
    pos rel

    > .left
      brd l 0
    > .right
      brd r 0

    > .resizer
      pos abs t 0
      hei 100%
      wid 20
      dis inl-blo
      cur ew-resize

    > .left
      pos rel

      .container
        sha non

      > .keep_ratio
        pos rel

        &:after
          pad t 91.8032787%
          dis blo
          con ''

        > #diplomacy_map
          pos abs t 0 l 0
          wid 100%
          hei 100%

      > .abbrs
        pos abs b 0 l 0 z 2
        txt ali cen
        mar 0
        brd 0
        cur pnt
        txt clr black

        &.hidden
          txt clr hsl(0,0,60)

    > .right
      mar l 20
