@import 'views/games/show/stats'
@import 'views/games/show/chat'
@import 'views/games/show/participation'
@import 'views/games/show/history'
@import 'views/games/show/timer'

#main.layout > .menu.game_show
  txt ali r

#games_show
  dis blo

  > .menu
    pos abs t 0 l 0
    hei 30
    pad y 10

    > .j_component
      pad x 20

  > .pils2
    pos rel

    > .left
      brd l 0
    > .right
      brd r 0

    > .resizer
      pos abs t 0
      hei 100%
      wid 20
      dis inl-blo
      cur ew-resize

    > .left
      pos rel

      > .keep_ratio
        pos rel

        &:after
          pad t 91.8032787%
          dis blo
          con ''

        > #diplomacy_map
          pos abs t 0 l 0
          wid 100%
          hei 100%

    > .right
      mar l 20
