#game_show
  pad x 20
  wid 100%
  box brd

  > .pils2
    pos rel

    > .pil
      wid 50%

    > #resizer
      pos abs t 0
      hei 100%
      wid 20
      dis inl-blo
      cur ew-resize
    
  #map > .keep_ratio
    pos rel

    &:after
      pad t 91.8032787%
      dis blo
      con ''

    > #diplomacy_map
      pos abs t 0 l 0
      wid 100%
      hei 100%

  #buttons.container
    .button
      wid 50%

  #new_order > .button
    txt hei 1em

  #map_statistic
    pos rel

    &:hover > .container
      dis blo

    > .container
      pos abs t 100% l 0
      box brd
      wid min 100%
      dis non
      mar 0
      bac clr white

      > table
        mar x aut
        txt siz 14 wei nor ali cen

        td, th
          pad x 5

        th
          txt clr hsl(0,0,38)

  #map_info
    pos abs t 0 l 0
    txt ali cen
