a.game.tr class=game.status href=game_path(game)
  span.td.time_mode = t "const.game/sheduled.time_modes.#{game.time_mode}"
  span.td.chat_mode = t "const.game/sheduled.chat_modes.#{game.chat_mode}"
  span.td.players = game.sides.count
