body
  > #background
    pos fix
    bac img url('/images/home_guard_parade.jpg') siz cvr pos cen

    > .grey
      bac clr hsla(0,0,100,0.2)

  > #main
    box brd
    pad 1.25em

    > .menu
      mar t -1.25em
      wid 17.5em
      txt ali cen
      mar x aut

      > .login
        txt tra upp

        + .button
          mar t 0.3125em
