body > #main > .menu > .login
  txt tra upp

body#application_layout
  > #background
    pos fix
    bac img url('/images/home_guard_parade.jpg') siz cvr pos cen

    > .grey
      bac clr hsla(0,0,100,0.2)

  > #main
    box brd
    pad 20

    > .menu
      mar t -20
      wid 280
      txt ali cen
      mar x aut

    > .page
      wid 280

body#games_show_layout
  > #main
    > .menu
      txt ali r hei 30
      > .login, > .button
        dis inl-blo
        wid aut

      > .login
        mar r 10
        
