body > #main > .menu > .login
  txt tra upp

body#application_layout
  > #background
    pos fix
    bac img url('/images/home_guard_parade.jpg') siz cvr pos cen

    > .grey
      bac clr hsla(0,0,100,0.2)

  > #main
    box brd
    pad 1.25em

    > .menu
      mar t -1.25em
      wid 17.5em
      txt ali cen
      mar x aut

      > .login
        + .button
          mar t 0.3125em

    > .page
      wid 17.5em 

body#games_show_layout
  > #main
    > .menu
      txt ali r hei 30*$u
      > .login, > .button
        dis inl-blo
        wid aut

      > .login
        mar r 10*$u
        
