body >
  
  #background
    dis non
    pos fix
    bac img url('/images/home_guard_parade.jpg') siz cvr pos cen att fix

  #main
    bac clr hsla(0,0,100,0.5)

    > .menu
      mar t 0
      hei 30
      txt siz 16 hei 30 ali cen
      brd 0 b 2

      > .td
        txt ali cen
        wid 100

        &:hover
          bac clr hsl(0,0,85)

        &:active
          bac clr hsl(0,0,80)

        +on(1)
          bac clr hsl(0,0,80)
