$input_window
  @extend $element
  dis blo

  pad 7*$u
  txt hei 1.25em

  $height = @line-height + 2 * @padding
  hei $height min $height

  bac clr white
  box-shadow inset 0px 0px 0px 2px hsl(0,0,85), inset 0px 0px 0px 1000px white 
