#application_root
  .container
  
    > .form
      pad t 0
      tra padding 0.5s

      > .button
        mar y 0
        tra margin 0.5s

    &.opened
      
      > .form
        pad t 10

        > .button
          mar y 10
