#application_root 
  .games
    > .table
      
      .td
        wid (1/6)*100%
    
      > .tbody
        pad y 5

        > .not_matching
          dis non

        > .tr
          dis blo
          txt hei 1.7em

          &:hover
            bac clr hsl(0,0,92)
          &:active
            bac clr hsl(0,0,85)
