#application_root .sign .form
  pad t 0
  tra padding 0.5s
  pos rel

  > .fields
    hei 0
    ovr hid
    opa 0
    tra opacity 0.5s

  > .button
    mar y 0
    tra margin 0.5s

  > .close
    pos abs t -10 r -40
    hei 30
    wid 30
    txt ali cen
    bac clr hsl(0,0,0)
    txt clr white siz 20 hei 30
    vis hid
    cur pnt
    &:after
      con 'x'

  &.opened
    pad t 10

    > .fields
      hei aut
      ovr ini
      opa 1

    > .button
      mar y 10

    > .close
      vis vis
