#games_show
  .chat.j_component
    &.active
      dis blo

    > .window
      bac clr white
      overflow-y scroll
      resize vertical
      brd 2 hsl(0,0,85)

      > .message
        pos rel
        txt siz 14
        pad 0.3em 0.6em

        + .message
          brd t 1 hsl(0,0,90)

        > .created_at, > .from, > .to, > .text
          dis inl

        > .to:after, > .to:before, > .created_at
          txt clr hsl(0,0,70)

        > .to > .true, > .from > .true
          dis non

        > .to:after
          con ' :'

        > .created_at
          txt siz 10

        &.private > .to:before
          con '> '
          
        &.public > .to > .side
          dis non

    > form
      pad t 0

    #message_text
      txt hei inh siz 14
      hei min 3.6em
