- content_for :body_id, 'application_root_layout'

javascript:
  (function(){
    Page = modulejs.require('r.v.Page');

    options = {};
    options.access = #{ with_format(:json){ raw render 'layouts/access' } };
    options.games_index = #{ with_format(:json){ raw render template: 'games/index' } };

    React.renderComponent( Page( options ), $('#main')[0] );
  })()
