- content_for :body_id, 'application_root_layout'

javascript:
  (function(){
    Page = modulejs.require('r.v.Page');

    root_data = #{ with_format(:json){ raw render 'layouts/access' } };
    games_data = #{ with_format(:json){ raw render template: 'games/index' } };

    page_options = $.extend( root_data, games_data );

    React.renderComponent( Page( page_options ), $('#main')[0] );
  })()
