#games_new.page.small

  .new.container
    = simple_form_for Game.new, format: :json, remote: true do |f|
      = f.input :name
      = f.input :map,
        collection: Map.all,
        include_blank: false,
        label_method: proc{ |map| t "const.map.name.#{map.name}" }


      = f.input :time_mode,
        as: :radios,
        collection: Game::TIME_MODES.keys,
        label_method: proc{ |mode| t "const.game/sheduled.time_modes.#{mode}" }

      .centrator
        = f.input :is_public
        = f.input :powers_is_random

      = f.button :button, class: 'yellow'

coffee:
  page = $ '#games_new.page'
  form = page.find '#new_game'
  durations = form.find '[name="game[time_mode]"]'
  is_public = form.find '.field.game_is_public'

  durations.on 'change', ->
    choosen = durations.filter ':checked'

    public_possible = choosen.val() != 'manual'

    is_public.toggle public_possible

    unless public_possible
      is_public.find('input').prop 'checked', false

    return
