.button
  pad y 0
  hei 30 min ini
  txt clr white hei 30

  &.yellow
    bac clr hsl( 45, 90, 50)
  &.red
    bac clr hsl(  0, 50, 50)
  &.green
    bac clr hsl(120, 50, 50)
  &.grey
    bac clr hsl(  0,  0, 70)
