.button
  txt clr white sha 0 1 1 hsla(0,0,0,0.5)
  brd rds 0.4em
  sha ins 0 -1 2 hsla(0,0,0,0.5)

  &:hover
    sha ins 0 -1 2 hsla(0,0,0,0.8)

  &:active
    sha ins 0 0 2 hsla(0,0,0,0.8)

  &.yellow
    bac clr hsl( 45, 90, 50)
  &.red
    bac clr hsl(  0, 50, 50)
  &.green
    bac clr hsl(120, 50, 50)
  &.grey
    bac clr hsl(  0,  0, 70)
