.button
  @extend $element

  pad $u*7
  txt hei 1em ali cen clr white sha 0 1 2 hsla(0,0,0,0.5)
  cur pnt

  &.yellow
    bac clr hsl( 40, 80, 50)
  &.red
    bac clr hsl(  0, 50, 50)
  &.green
    bac clr hsl(120, 50, 50)
  &.grey
    bac clr hsl(  0,  0, 50)
  &.blue
    bac clr hsl(210, 50, 50)
