.input
  @extend $element

  pad 0.3125em
  brd 0.125em hsl(0,0,85) rds 0
  txt hei 1.25em

  $height = @line-height + 2 * ( @padding + @border-width )
  hei $height min $height

  bac clr white
  sha ins 0 0 0 1000 white


.label
  @extend $element

  &[for]
    cur pnt


.label[type="radio"], .input[type="checkbox"]
  dis non

  + .label
    pad l 1.5625em

    &:before
      dis inl-blo
      hei 1em
      wid 1em
      brd 0.125em solid hsl(0,0,85)
      mar l -1.5625em r 0.3125em
      txt hei 1em ali cen
      bac clr white
      con "\00a0"

  &:checked + .label:before
    con "\2714"

.label[type="radio"] 
  + .label:before
    brd rds 50%
  &:checked + .label
    cur def
    

.input.select
  cur pnt
  -webkit-appearance none
