form.form
  txt ali cen
  pad t 10

  .field
    mar b 10

    > .input
      txt ali cen

    > textarea.input
      dis blo
      txt ali l

  .button
    mar y 10

    + .button
      mar t 0

  .collection
    .item + .item
      mar t 5

  .hint
    txt siz 11
    txt hei 2em
    hei 0
    opa 0
    transition height 0.5s, opacity 0.5s, color 0.5s

  :focus + .hint
    hei 2em
    opa 1

  :invalid + .hint
    txt clr hsl(0,50,50)

  :valid + .hint
    txt clr hsl(120,50,50) 
