.input
  @extend $element

  pad 5*$u
  txt hei 1.25em

  $height = @line-height + 2 * @padding
  hei $height min $height

  bac clr white
  box-shadow inset 0px 0px 0px 2px hsl(0,0,85), inset 0px 0px 0px 1000px white 


.label
  @extend $element

  &[for]
    cur pnt


.label[type="radio"], .input[type="checkbox"]
  dis non

  + .label
    pad l 25*$u

    &:before
      dis inl-blo
      hei 1em
      wid 1em
      brd 2px solid hsl(0,0,85)
      mar l -25*$u r 5*$u
      txt hei 1em ali cen
      bac clr white
      con "\00a0"

  &:checked + .label:before
    con "\2714"

.label[type="radio"] 
  + .label:before
    brd rds 50%
  &:checked + .label
    cur def
    

.input.select
  cur pnt
  -webkit-appearance none
