- content_for :body_id, 'application_root_layout'

javascript:
  (function(){
    Page = modulejs.require('r.v.Page');

    React.renderComponent(
      Page(#{ with_format(:json){ raw render template: 'application/root' } }), 
      $('#main')[0]
    )
  })()
