#application_root
  > .games
    > .plate
      mar b $u*5

    > .statuses > .button
      wid 33.33%

    > .index
      pad $u*5

      > .table
        bac clr white
        pad $u*5
        txt ali cen

        > table
          wid 100%
          pos rel

        .game
          dis non
          pos rel
          txt siz 0.8em hei 1.5625em
          cur pnt

          &:hover
            bac clr hsl(0,0,90)

      $statuses = ( waiting hsl(120, 50, 50) ) ( started hsl( 40, 80, 50) ) ( finished hsl(  0,  0, 50) )

      for $status in $statuses
        &[data-status={'"'+$status[0]+'"'}]
          bac clr $status[1]

          .{$status[0]}
            display table-row
