@import 'views/application/root/forms'
@import 'views/application/root/new_game'
@import 'views/application/root/login'
@import 'views/application/root/games'

#application_root_layout
  wid min 970

  > #main
    box brd
    pad 20

#application_root
  txt ali cen

  > .background
    pos fix z 0
    bac img url('/images/home_guard_parade.jpg') siz cvr pos cen

    > .grey
      bac clr hsla(0,0,100,0.2)

  > .col
    pos rel

    + .col
      mar l 20

    &.left
      wid 610

    &.right 
      wid 300

    > .component
      pos rel

      &:not(.enabled)
        dis non

      > .sezam
        transition color 0.5s, background-color 0.5s

      &.opened > .sezam
        txt clr black sha non
        bac clr tra
        cur def
