#application_root
  txt ali cen

  > .container

    > .button
      wid 100%

      + .button
        mar t 10

  > .games
    > .plate
      txt hei 30

    > .statuses
      > .button
        wid 33.33%

    > .index
      pad 5
      bac clr hsl(120,50,50)

      > .table
        bac clr white
